apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kdex-gateman.fullname" . }}-manager-role
  labels:
    {{- include "kdex-gateman.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
- apiGroups: {{ toYaml .Values.conditionResources.apiGroups | nindent 2 }}
  resources: {{ toYaml .Values.conditionResources.resources | nindent 2 }}
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "kdex-gateman.labels" . | nindent 4 }}
  name: {{ include "kdex-gateman.fullname" . }}-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kdex-gateman.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "kdex-gateman.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
